.about_main_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.about_paragraph_content{
    width: 75%;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.5px;
    font-family: var(--second-font);
    font-weight: normal;
    color: var(--text-para-color);
    text-align: center;
}
.about_ourstory_content h2{
    font-size: var(--h2-font-size);
    font-family: var(--main-font);
    color: var(--title-color);
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
}


/* Our Story */

.about_ourstory_img_containers{
    display: flex;
    flex-direction: column;
}

/* Our Story First Section */

.about_image_container_one{
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content:center ;
}
.about_first_content_container{
    position: absolute;
    left: 300px;
}
.about_first_content_container p{
    text-align: end;
    font-size: 18px;
    font-family: var(--main-font);
    font-weight: normal;
}
.about_image_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12%;
    border: 4px solid #BEBEBE;
    border-radius: 100%;
    padding: 5px; 
}

.about_first_image{
    width: 100%;
}
.about_image_container_line{
    display: flex;
    justify-content: center;
}
.about_line{
    width: 5px;
}

/* Our Story First Section */

.about_image_container_two{
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content:center ;
}

.about_second_content_container{
    position: absolute;
    right:300px;
}
.about_second_content_container p{
    text-align: start;
    font-size: 18px;
    font-family: var(--main-font);
    font-weight: normal;
}

/* =======================
   Responsive Styles
   ======================= */

/* ----------- Tablets (max-width: 1024px) ----------- */
@media (max-width: 1024px) {

    .about_paragraph_content {
        width: 100%;
        font-size: 15px;
        line-height: 24px;
    }

    .about_first_content_container {
        left: 200px;
    }

    .about_second_content_container {
        right: 200px;
    }

    .about_image_container {
        width: 18%;
    }

    .about_first_content,
    .about_second_content {
        font-size: 16px;
    }
}


/* ----------- Mobile (max-width: 768px) ----------- */
@media (max-width: 768px) {

    .about_paragraph_content {
        width: 100%;
        font-size: 14px;
        line-height: 22px;
        text-align: justify;
    }

    .about_image_container_one,
    .about_image_container_two {
        flex-direction: column;
    }

    .about_first_content_container,
    .about_second_content_container {
        position: static;
        margin-bottom: 10px;
        text-align: center;
    }
    .about_first_content_container p,
    .about_second_content_container p {
        font-size: 16px;
        text-align: center;
        margin-top: 20px;
    }

    .about_image_container {
        width: 30%;
    }

    .about_line {
        display: none;
    }
}


/* ----------- Extra Small Mobile (max-width: 480px) ----------- */
@media (max-width: 480px) {

    .about_paragraph_content {
        width: 100%;
        font-size: 15px;
        line-height: 25px;
    }

    .about_image_container {
        width: 40%;
        border-width: 3px;
    }

    .about_first_content_container p,
    .about_second_content_container p {
        font-size: 14px;
        text-align: center;
        margin-top: 20px;
    }

    .about_line {
        display: none;
    }
}
