.Pump_Selction_Tool_Container::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.Pump_Selction_Tool_Container {
  font-family: var(--second-font);
  text-align: center;
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  height: 100vh;
  scroll-behavior: smooth;
  border: 1px solid #eee;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 8px;
  background-color: #fff;
}

.questions-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
  position: relative;
}





.Pump_Selction_Tool_Container {
  font-family: var(--second-font);
  text-align: center;
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #eee;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 8px;
  background-color: #fff;
  
}

h1, h2, h3 {
  color: #333;
  font-family: var(--main-font);
}
.Pump_selection_Reset_Button {
  background-color: var(--title-red-color); 
  color: #fff;
  border: none;
  padding: 10px 22px;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: var(--main-font);
  box-shadow: 0 2px 6px var(--title-red-color); 
}

.Pump_selection_Reset_Button:hover {
  color: var(--title-red-color);
  background-color: var(--container-color); 
  border: 1px solid var(--title-red-color);
  transform: translateY(-2px);
}



.progress-wrapper {
  position: absolute;
  right: 20px;   /* Place on right */
  top: 60%;
  transform: translateY(-50%);
}

.progress-vertical-container {
  width: 6px; 
  height: 70vh; 
  background: #e0e0e0;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.progress-vertical-fill {
  width: 100%;
  background: linear-gradient(180deg, #ff7200, #ffb700);
  border-radius: 20px;
}

/* ============================
   TABLET ( max-width: 1024px )
============================ */
@media (max-width: 1024px) {
  .progress-wrapper {
  right: 20px;   
  top: 75%;
  z-index: 1000;
}

.progress-vertical-container {
  width: 6px; 
  height: 60vh; 
}
}

/* ============================
   MOBILE ( max-width: 600px )
============================ */
@media (max-width: 600px) {
  .progress-wrapper {
    right: 9px;   
    top: 65%;
    z-index: 1000;
  }

  .progress-vertical-container {
    width: 6px; 
    height: 50vh; 
  }
  .Pump_selection_Complete{
    margin-top: 30px;
  }
}
