.selection-tool {
  margin-top: 20px;
  transition: all 0.5s ease;
}

.option-button {
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.option-button:hover {
  transform: scale(1.05);
}

.selection-tool {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 50vh;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-family: var(--second-font);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.question-title {
  font-size: 22px;
  font-weight: 600;
  color: #333;
  margin-bottom: 15px;
  font-family: var(--main-font);
}


/* Range Section */

.range-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.range-labels {
  font-size: 14px;
  color: #444;
  font-family: var(--second-font);
}

.range-slider {
  width: 70%;
  height: 6px;
  border-radius: 5px;
  background: #dcdcdc;
  outline: none;
  -webkit-appearance: none;
  cursor: pointer;
}

.range-slider::-webkit-slider-runnable-track {
  height: 8px;
  background: #2563eb;
  border-radius: 5px;
}

.range-slider::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #2563eb;
  cursor: pointer;
  margin-top: -7px;
}

.range-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #6a9c64;
  cursor: pointer;
}

.range-value {
  font-size: 16px;
  color: #333;
  font-family: var(--main-font);
}

/* Option Selection Section */

.options{
  display: flex;
  align-items: center;
  justify-content: center;
}


.options button{
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 5px 25px;
  margin: 5px;
  border-radius: 2px;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.2s ease;
  font-family: var(--main-font);
}

.options button:hover{
  color: var(--title-color);
  background-color: white; 
  border: 1px solid #2563eb;
  transform: translateY(-2px);
}

.options button.selected {
  background-color: #28a745;
}

.selection-tool input {
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 500px;
  max-width: 350px;
  font-family: var(--second-font);
}

/* Next and Back Buttons */

.next-btn,.back-button {
  background-color: var(--title-red-color);
  color: white;
  border: none;
  padding: 5px 25px;
  margin: 5px;
  border-radius: 2px;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.2s ease;
  font-family: var(--main-font);
}

.next-btn:hover,.back-button:hover {
  color: var(--title-red-color);
  background-color: var(--container-color); 
  border: 1px solid var(--title-red-color);
  transform: translateY(-2px);
}

/* ============================
   TABLET ( max-width: 1024px )
============================ */
@media (max-width: 1024px) {

  .selection-tool {
    height: auto;
    padding: 20px;
  }

  .options {
    flex-wrap: wrap;
    gap: 10px;
  }

  .options button {
    width: 45%;
    font-size: 14px;
    padding: 8px 10px;
  }

  
}


/* ============================
   MOBILE ( max-width: 600px )
============================ */
@media (max-width: 600px) {

  .selection-tool {
    height: auto;
    padding: 15px;
  }

  .question-title {
    font-size: 18px;
  }

  .options {
    flex-direction: column;
    gap: 8px;
  }

  .options button {
    width: 100%;
    font-size: 14px;
    padding: 10px 14px;
  }

  .selection-tool input{
    width: 300px;
  }

  .next-btn,
  .back-button {
    width: 50%;
    padding: 10px;
    font-size: 14px;
  }
}


