.BootstrapMulti {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  position: relative;
}

.card_slider_containers {
  width: 100%;
}

/* Cards */
.card_slider_inner_containers {
  width: 100%;
}
.card_slider_inner_containers:hover {
  cursor: pointer;
}

.slider_carousel_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.multi__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.slider_heading {
  color: #515151;
  font-family: var(--second-font);
  font-size: 16px;
  font-weight: 600;
}

.viewmore_heading {
  color: var(--title-red-color);
  font-family: var(--second-font);
  font-size: 14px;
  font-weight: 400;
}

/* Custom Swiper Arrows */
.custom-swiper-prev,
.custom-swiper-next {
  position: absolute;
  top: 45%;
  z-index: 10;
  background: #ffffff;
  width: 40px;
  height: 30px;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-swiper-prev {
  left: 15px;
}

.custom-swiper-next {
  right: 15px;
}

.card_leftarrow_icon,
.card_rightarrow_icon {
  font-size: 20px;
  color: #515151;
}
.swiper-wrapper {
  transition-timing-function: ease-in-out !important;
}


/* ====== Mobile ====== */
@media (max-width: 500px) {
  .multi__image {
    height: 100%;
  }
  .slider_heading {
    font-size: 14px;
  }
  .viewmore_heading {
    font-size: 12px;
  }
  
  .custom-swiper-prev,
  .custom-swiper-next {
    width: 30px;
    height: 25px;
    top: 50%;
    
  }
}

/* ====== Tablet ====== */
@media (max-width: 768px) {
  .multi__image {
    height: 100%;
  }
  .card_slider_inner_containers {
    padding: 0px 5px;
  }
  .custom-swiper-prev {
    left: 5px;
  }
  .custom-swiper-next {
    right: 5px;
  }
}

/* ====== Large Tablet / Small Laptop ====== */
@media (max-width: 1024px) {
  .multi__image {
    height: 100%;
    
  }
  .slider_heading {
    font-size: 14px;
  }
  .viewmore_heading {
    font-size: 12px;
  }
  
}
@media (max-width: 1440px) {
  .multi__image {
    height: 100%;
  }
  .slider_heading {
    font-size: 14px;
  }
  .viewmore_heading {
    font-size: 12px;
  }
}
