/*-------------Google Font--------------*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*-------------CSS Variables--------------*/
:root{

    /*-------------Colors--------------*/

    --primary-color:hsl(165,60%,40%);
    --title-color:#515151;
    --title-red-color:#FF0000;
    --text-para-color:#474747;
    --banner-text-color:#FFFFFF;
    --contanier-bg-color:#D9D9D9;
    --bg-color:#FF0000;
    --container-color:#f0f0f0;

    /*-------------Typography--------------*/

    --main-font:"Poppins", sans-serif;
    --second-font:"Open Sans", sans-serif;

    --biggest-font-size:90px;
    --bigger-font-size:60px;
    --h1-font-size:44px;
    --h2-font-size:30px;
    --h3-font-size:28px;
    --h4-font-size:24px;
    --h5-font-size:22px;
    --largest-font-size:21px;
    --larger-font-size:20px;
    --large-font-size:18px;
    --normal-font-size:16px;
    --small-font-size:15px;
    --smaller-font-size:14px;
    --tiny-font-size:13px;


}

/*-------------Reset--------------*/

/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  margin: 0 !important;
  padding: 0 !important;
}

h1, h2, h3, h4, h5, h6,
p,
ul, ol {
  margin: 0;
  padding: 0;
}


@media (max-width: 991px) {
 
  html, body {
    height: 100%;
  }

  body {
    padding-top: 70px !important; 
    box-sizing: border-box;
  }

  
  #root, .App {
    padding-top: 0; 
  }
}



